<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center">Terms & Conditions</h1>

    <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum modi
        unde laboriosam blanditiis est. Sequi sapiente, dolorem nam officiis
        odio architecto odit quo sint ratione totam natus omnis assumenda
        maiores saepe incidunt tenetur! Nisi cum hic dolor a maxime natus totam
        veritatis, ducimus numquam maiores obcaecati officia earum expedita
        porro unde tempore quam quis ea ut eos alias libero? Recusandae aperiam
        ut obcaecati debitis, facilis et facere amet alias laudantium illo
        adipisci velit nam impedit dicta aliquam. Cum et fugiat iure praesentium
        tempora error, eaque cumque ea, corrupti consequuntur placeat velit nisi
        optio adipisci amet ex enim vitae, soluta aperiam beatae mollitia ipsum!
        Corrupti maiores odio et ipsa inventore, eius reprehenderit temporibus
        exercitationem quo eos itaque unde nam culpa illo.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum modi
        unde laboriosam blanditiis est. Sequi sapiente, dolorem nam officiis
        odio architecto odit quo sint ratione totam natus omnis assumenda
        maiores saepe incidunt tenetur! Nisi cum hic dolor a maxime natus totam
        veritatis, ducimus numquam maiores obcaecati officia earum expedita
        porro unde tempore quam quis ea ut eos alias libero? Recusandae aperiam
        ut obcaecati debitis, facilis et facere amet alias laudantium illo
        adipisci velit nam impedit dicta aliquam. Cum et fugiat iure praesentium
        tempora error, eaque cumque ea, corrupti consequuntur placeat velit nisi
        optio adipisci amet ex enim vitae, soluta aperiam beatae mollitia ipsum!
        Corrupti maiores odio et ipsa inventore, eius reprehenderit temporibus
        exercitationem quo eos itaque unde nam culpa illo.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum modi
        unde laboriosam blanditiis est. Sequi sapiente, dolorem nam officiis
        odio architecto odit quo sint ratione totam natus omnis assumenda
        maiores saepe incidunt tenetur! Nisi cum hic dolor a maxime natus totam
        veritatis, ducimus numquam maiores obcaecati officia earum expedita
        porro unde tempore quam quis ea ut eos alias libero? Recusandae aperiam
        ut obcaecati debitis, facilis et facere amet alias laudantium illo
        adipisci velit nam impedit dicta aliquam. Cum et fugiat iure praesentium
        tempora error, eaque cumque ea, corrupti consequuntur placeat velit nisi
        optio adipisci amet ex enim vitae, soluta aperiam beatae mollitia ipsum!
        Corrupti maiores odio et ipsa inventore, eius reprehenderit temporibus
        exercitationem quo eos itaque unde nam culpa illo.
      </p>

      <div class="text-center">
        <button class="btn btn-info btn-lg mt-4 btn-theme">Back to Home</button>
      </div>
    </div>
  </div>
</section>
