<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card shadow-effect">
        <img
          src="https://images.pexels.com/photos/3571563/pexels-photo-3571563.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Card Image"
          class="card-img-top img-fluid"
        />
        <div class="card-body">
          <small class="bg-light text-danger text-center">Design</small>
          <small class="bg-light text-success text-center ml-2">Featured</small>
          <small class="bg-light text-info text-center ml-2"
            >Views - 100,256</small
          >
          <small class="bg-light text-warning text-center ml-2"
            >LAST UPDATED - SEP 17, 2023
          </small>

          <h1 class="mt-3 mb-3">
            HOW TO START A BLOG IN 2023 EDITED NEW CATEGORY
          </h1>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure a
            quidem voluptate voluptas excepturi praesentium quisquam harum amet
            quas ut ducimus, pariatur deleniti natus saepe assumenda quibusdam
            dignissimos, beatae debitis delectus similique. Repudiandae dolores
            odio deleniti consectetur ducimus, dolorem numquam eius quam a
            recusandae, velit amet nihil repellendus excepturi quae iusto
            voluptate animi qui, dolore repellat. Odit tenetur quas ea eaque
            deserunt fuga nisi minima ducimus fugit fugiat, voluptatum sint
            architecto dolore, ipsa nostrum nobis ipsam velit adipisci saepe
            quos commodi consequatur! Autem sit rerum magni quam aspernatur,
            laudantium nesciunt laboriosam consequatur eligendi quaerat
            asperiores distinctio tenetur mollitia officia fugiat possimus
            voluptates, maxime nisi voluptate quis. Sit vel quisquam blanditiis
            soluta neque, iure explicabo molestiae exercitationem optio
            consequuntur incidunt aspernatur possimus in officiis esse debitis
            earum ad alias ipsa sequi! Sint commodi architecto eveniet quasi
            deserunt eaque vero repudiandae tempore illo laboriosam ad quaerat
            possimus et, adipisci asperiores tenetur iste quam ut. Est quibusdam
            pariatur deleniti, consectetur neque accusamus quasi voluptatibus
            voluptas deserunt inventore quo aliquid nobis nihil quae impedit
            delectus sed quia alias at. Voluptatum eos enim earum eveniet odio
            non sunt hic facilis numquam molestiae, autem dolore assumenda
            labore necessitatibus recusandae reprehenderit nobis possimus
            similique. Sunt nobis ab architecto dolorem numquam aliquid cumque
            cum eveniet unde tempora, necessitatibus temporibus. Sapiente,
            fugiat, nobis quaerat fuga iste possimus omnis facere molestiae
            harum pariatur incidunt adipisci aliquid! Eaque, enim nesciunt.
            Veritatis animi facere eius voluptates voluptate dignissimos
            assumenda sed natus, delectus repellat voluptatem commodi,
            consectetur dolorum minus quaerat fugiat quidem rerum.
          </p>
        </div>
      </div>

      <app-comment-form></app-comment-form>
      <app-comment-list></app-comment-list>
    </div>
    <div class="col-md-3">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </div>
  </div>
</div>
